// Here we will add all styles concerning components, such as buttons, cards etc


.profile-img-container {
    width: 200px;
    height: 200px; 

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.button-custom {
    border-color: transparent; 
}

