// Here we will add all styles concerning components, such as buttons, cards etc

.profile-img-container {
  width: 200px;
  height: 200px;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logo {
  width: 36%;
}

.button-custom {
  border-color: transparent;
}

//Trying to remove the border when icon is clicked. Currently not working
.btn-icon {
    .btn-icon:focus {
        border: none;
    }
}
