// Here we will add all styles concerning the layout such as size, margin/padding etc

body {
  background-color: white;
  margin: 0px 60px 0px 60px;
  font-family: Poppins, sans-serif;
}

.profile-section {
  border-right: 0.1em solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;

  @media (max-width: 992px) {
    border: none;
    padding: 0;
  }
}


//nav

.bottom-nav {
  position: fixed;
  bottom: 0; 
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: #CAB9E7;
  color: #000;

  a {
      color:#000; 
  }

  @media (min-width: 768px) {
      position: absolute;
      top: 45px;
      left: 250px;
      width: fit-content;
      bottom: auto;
      box-shadow: none;
      margin-bottom: 10px;
      justify-content: flex-start;
      background-color: transparent;
  }
}