// Here we will add all styles concerning the layout such as size, margin/padding etc

body {
  background-color: white;
  margin: 0px 60px 0px 60px;
  font-family: Poppins, sans-serif;

  @media (max-width: 992px) {
    margin: 20px;
  }
}

.profile-section {
  border-right: 0.1em solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;

  @media (max-width: 992px) {
    border: none;
    padding: 0;
  }
}

#image-display {
  width: 100%;
  height: fit-content;
  padding: 20px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

#explore-container,
#feed-container,
.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}

.posts-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-search-btns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
  row-gap: 10px;
}

.card-custom {
  padding: 0;
  height: 550px;

  .card-img-top {
    width: 100%;
    object-fit: cover;
    height: 385px;
  }

  .top-container {
    justify-content: space-between;
  }
}

#post-container {
  width: 70%;
  height: fit-content;

  .display-body {
    .username-display {
      font-size: 1.5em;
    }

    .post-title {
      font-size: 1.5em;
      font-weight: 600;
    }

    .post-text {
      font-size: 1em;
    }

    h4 {
      font-size: 0.8em;
    }
  }

  #display-comments {
    height: fit-content;
  }
}
.feed-btns {
  flex-wrap: wrap;
  row-gap: 10px;
}
