// Here we will put all styles concerning colours and fonts

// Colors - change to correct colors
$primary: #b293e3;
$secondary: #fffafa;
$tertiary: #9770d7;

.primary,
.btn-primary {
  background-color: $primary;
  border: $primary;
  border-color: $primary;
}

button {
  text-decoration: none;
}

.btn:hover,
.btn-check,
.btn:active {
  background-color: $tertiary;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 10px;
  color: $tertiary !important;
}

.hidden {
  display: none;
}

.card-text {
  font-size: 14px;
}

.bg-primary {
  background-color: #cab9e7;
}

.text-primary {
  color: $tertiary !important ;
}

.btn-custom {
  background-color: $primary !important;
}

.icon {
  color: black;
}

.btn-custom,
.btn-custom:focus {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
  margin: 20px;

  &:hover,
  &:disabled {
    background-color: $tertiary;
    border-color: $tertiary;
  }

  &:active {
    background-color: $tertiary !important;
  }
}
