// Here we will put all styles concerning colours and fonts

// Colors - change to correct colors
$primary: #cab9e7;
$secondary: #fffafa;
$tertiary: #a485d5;

h1 {
  font-size: 2em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 10px;
  color: $tertiary !important;
}

.card-text {
  font-size: 14px;
}

.bg-primary {
  background-color: #cab9e7;
}

.text-primary {
  color: $tertiary !important ;
}

.btn-custom {
  background-color: $primary !important;
}

.icon {
  color: black;
}

.btn-custom,
.btn-custom:focus {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
  margin: 20px;

  &:hover,
  &:disabled {
    background-color: $tertiary;
    border-color: $tertiary;
  }

  &:active {
    background-color: $tertiary !important;
  }
}

.modal-custom {
  background-color: $secondary;
}
