@import "layout";
@import "components";
@import "variables";

.profile-section {
  border-right: 0.1em solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;

  @media (max-width: 992px) {
    border: none;
    padding: 0;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: #cab9e7;
  color: #000;
}
.bottom-nav a {
  color: #000;
}
@media (min-width: 768px) {
  .bottom-nav {
    position: absolute;
    top: 18px;
    left: 100px;
    width: fit-content;
    bottom: auto;
    box-shadow: none;
    margin-bottom: 10px;
    justify-content: flex-start;
    background-color: transparent;
  }
}

@media screen and (max-width: 992px) {
  .profile-section {
    border: none;
    padding: 0;
  }

  .side-posts {
    display: none;
    margin: 0;
  }
}
