@import "layout";
@import "components";
@import "variables";

.profile-section {
  border-right: 0.1em solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;

  @media (max-width: 992px) {
    border: none;
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .profile-section {
    border: none;
    padding: 0;
  }

  .side-posts {
    display: none;
    margin: 0;
  }
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
